.list {
  color: white;
  display: flex;
  list-style: none;
  margin: 0;
  border: none;
  padding: 10px;
  flex-direction: column;
  padding-left: 15px;
  justify-content: space-around;
  flex: 2;
  // ugly, but needed to override the 'sortable' lib's behavior
  pointer-events: auto !important;
  &:active {
    cursor: -webkit-grabbing;
  }
}

@media (min-width: 850px) {
  .list {
    padding: 0;
    flex-direction: row;
    align-items: stretch;
    flex: 1 1 auto;
    padding-bottom: 10px;
    max-height: 130px;
  }
}

/*

//Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 770 and up)
@media (min-width: 770px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
