header {
    display: none;
}

@media (min-width: 770px){
  header {
      display: flex;
      color: white;
      flex-direction: column;
      background-color: #121212;
      justify-content: flex-end;
      align-items: center;
      height: 15vh;
      min-height: 40px;
  }

  header h1 {
    font-size: 3em;
    font-weight: 900;
    /*margin-bottom: 10px;*/
  }

  .header-stripe {
    margin-top: 15px;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right,#0cf,#93f 31%,#e646b6 52%,#fff9aa 77%,#0f9,#0cf);
    align-self: flex-end;
  }
}



/*

//Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 770 and up)
@media (min-width: 770px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
