.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  border: none;
  flex-direction: column;
}

.gif-list {
  flex: 2.5;
}

.word-list {
  padding-right: 0px;
  justify-content: space-around;
  flex: 1;
}

@media (min-width: 770px){
  .list {
    flex-direction: row;
  }

  .word-list {
    padding-right: 10px;
  }
}

/*

//Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 770 and up)
@media (min-width: 770px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
