
.list-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin: 5px 0px;
  background-color: white;
  box-shadow: 0 10px 6px -6px #000;
}

.word-item {
  /*height: 100%;*/
  background: none;
  box-shadow: none;
  align-items: stretch;
  justify-content: center;
}

.word-arrow {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: stretch;
  background-color: white;
  background: url(./images/rightpointer.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center;
}

.word-arrow p {
  margin-left: 10px;
  margin-right: 18px;
  font-size: 4vw;
  margin-bottom: 6px;
}

@media (min-width: 576px) {
  .word-arrow p {
    font-size: 24px;
  }
}

@media (min-width: 770px) {

  .list-item {
    margin: 10px 10px;
  }

  .word-item {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .word-arrow {
    box-sizing: border-box;
    background: url(./images/downpointer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .word-arrow p{
    margin: 0px;
    margin-bottom: 15%;
  }
}

/*

//Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 770 and up)
@media (min-width: 770px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
