.list_item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin: 2px 0px;
  background: none;
  box-shadow: none;
  align-items: stretch;
}

.word_arrow {
  font-weight: 700;
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: stretch;
  background-color: white;
  background: url(../../styles/images/rightpointer.png);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center;
  &:hover {
    cursor: -webkit-grab;
  }
}

.answer_text {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  &.incorrect {
    color: #f66;
    text-decoration: line-through;
  }
}

@media (min-width: 576px) {
  .answer_text {
    font-size: 22px;
  }
}

@media (min-width: 850px) {
  .word_item {
    justify-content: center;
    margin-bottom: 0;
  }

  .word_arrow {
    padding-bottom: 16px;
    width: 80%;
    box-sizing: border-box;
    background: url(../../styles/images/downpointer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
