footer {
  display: flex;
  background-color: #121212;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 12vh;
  min-height: 50px;
}

.button_widget {
  display: none;
}

.widget_label {
  color: white;
}

.score {
  width: 210px;
  text-align: center;
  color: #0f9;
  font-size: 1.5em;
}

footer button {
  margin: 8px;
  font-size: 1em;
  font-weight: 900;
  height: 100%;
  max-height: 80px;
  width: 200px;
  border: none;
  background: linear-gradient(to right top, #93f, #e646b6);
  color: white;
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 850px) {
  footer {
    padding-left: 10px;
    height: 20vh;
    justify-content: space-between;
  }

  .button_widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .button_widget p {
    margin: 5px;
    text-align: center;
  }

  .challenge_level {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .game_settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 320px;
  }

  .settings_button {
    margin: auto 0px;
    color: #121212;
    flex: 1;
    background: none;
    background-image: none;
    background-color: #f66;
    &:disabled {
      opacity: 0.5;
      &:hover {
        cursor: default;
      }
    }
  }

  .active_true {
    background-color: #0f9;
  }

  footer button {
    font-size: 1.5em;
    max-width: 300px;
  }
}
